<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ANDROID_CLIENT_ID</key>
	<string>1518433467-l2eetob14e7uplprhs7f8jkut6bhb38s.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBVr400ZLrls_sQkn8GhNWwlMRvV0JMe_c</string>
	<key>GCM_SENDER_ID</key>
	<string>1518433467</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gohphn2024</string>
	<key>PROJECT_ID</key>
	<string>gohphn-test</string>
	<key>STORAGE_BUCKET</key>
	<string>gohphn-test.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1518433467:ios:569934f9fdde87e124a59e</string>
	<key>DATABASE_URL</key>
	<string>https://gohphn-test-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>